<div class="panel-body">
  <ul>
    <li>Propuesto por:
      <ul>
      {{range .Params.por}}
	  <li>  
	    {{.name}}
	    <ul>
	      <li>{{.email}}</li>
		  <li>{{.tel}}</li>
		  <li>{{.group}}</li>
	    </ul>
      </li>
	  {{end}}
	  </ul>
	</li>
	<li>Fechas:
	  <ul>
		<li>Determinadas: {{.Params.fechas.det}}</li>
		{{if .Params.fechas.det}}
		  <li>Inicio: {{.Params.fechas.init}}</li>
		  <li>Fin: {{.Params.fechas.end}}</li>
		{{end}}
      </ul>
	<li>Áreas temáticas relacionadas:
	  <ul>
	  {{range .Params.areas}}
	    <li>{{.}}</li>
	  {{end}}
	  </ul>
	</li>
  </ul>
  {{ .Content }}
</div>