<div class="panel-body">
  {{.Content}}
  <ol class="timeline">
    <li class="tl-start"></li>
	{{range (index .Site.Taxonomies.categories ((index .Menus .Section).Identifier)).Pages}}
      <li class="tl-node">
        <div class="tl-stamp">
          <a class="tl-title" title="{{ .Date.Format "2006/01/02 15:04" | safeHTML }}" href="{{.RelPermalink}}">{{ .Title }}</a>
          {{with .Keywords}}{{ delimit . ", " }}{{end}}
		</div>
        <div class="tl-content">
          {{ .Summary }}
        {{ if .Truncated }}
		  <p>...</p>
		  </div>
          <a class="btn btn-default tl-more" href="{{.RelPermalink}}">Read more</a>
		{{else}}
		  </div>
        {{end}}
		{{ "---" | markdownify }}
      </li>
	{{ end }}
	<li class="tl-end"></li>
  </ol>
</div>