<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
	  {{ partial "nav.html" . }}
	  <div id="container" class="">
		  <div id="main-content">
			  <h1>{{.Title}}</h1>
			  {{range .Data.Pages}}
			  {{ if isset .Params "overview" }} {{.Content}} {{ end }}
			  {{ end }}
			  <ul>
				  {{range .Data.Pages}}
				  {{ if not (isset .Params "overview") }}
				  <li><a href="{{.RelPermalink}}">{{.LinkTitle}}</a></li>
				  {{end}}
				  {{end}}
			  </ul>
		  </div>
	  </div>
  </body>
</html>
